<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.android.shotcutkey">
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.STOP_APP_SWITCHES"/>
    <application android:allowBackup="true" android:debuggable="false" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:theme="@style/Theme.ZTE.Light">
        <activity android:label="@string/app_name" android:name=".guideActivity" android:theme="@android:style/Theme.Holo.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".detailActivity"/>
        <activity android:name=".selectAppActivity"/>
        <activity android:name=".settingsActivity"/>
        <receiver android:name=".myBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.SpecialKeyLongPress"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SpecialKeyDoublePress"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.FLASH_CHANGED"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
